@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply px-4 mx-auto max-w-screen-sm;
  }

  .bg-primary {
    @apply bg-cyan-700;
  }

  .text-primary {
    @apply text-cyan-700;
  }

  .main-text sup {
    @apply text-blue-600;

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }
}
